<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @instalacio.edifici_id %>
</p>

<p>
  <strong>Sistema acs calefaccio:</strong>
  <%= @instalacio.sistema_acs_calefaccio %>
</p>

<p>
  <strong>Antiguitat acs:</strong>
  <%= @instalacio.antiguitat_acs %>
</p>

<p>
  <strong>Antiguitat calefaccio:</strong>
  <%= @instalacio.antiguitat_calefaccio %>
</p>

<p>
  <strong>Sistema refrigeracio:</strong>
  <%= @instalacio.sistema_refrigeracio %>
</p>

<p>
  <strong>Antiguitat refrigeracio:</strong>
  <%= @instalacio.antiguitat_refrigeracio %>
</p>

<p>
  <strong>Sistema iluminacio:</strong>
  <%= @instalacio.sistema_iluminacio %>
</p>

<p>
  <strong>Potencia iluminacio:</strong>
  <%= @instalacio.potencia_iluminacio %>
</p>

<p>
  <strong>Descripcio acs:</strong>
  <%= @instalacio.descripcio_acs %>
</p>

<p>
  <strong>Descripcio calefaccio:</strong>
  <%= @instalacio.descripcio_calefaccio %>
</p>

<p>
  <strong>Descripcio refrigeracio:</strong>
  <%= @instalacio.descripcio_refrigeracio %>
</p>

<p>
  <strong>Descripcio iluminacio:</strong>
  <%= @instalacio.descripcio_iluminacio %>
</p>

<p>
  <strong>Descripcio electrodomestics:</strong>
  <%= @instalacio.descripcio_electrodomestics %>
</p>

<p>
  <strong>Puntuacio acs:</strong>
  <%= @instalacio.puntuacio_acs %>
</p>

<p>
  <strong>Puntuacio calefaccio:</strong>
  <%= @instalacio.puntuacio_calefaccio %>
</p>

<p>
  <strong>Puntuacio refrigeracio:</strong>
  <%= @instalacio.puntuacio_refrigeracio %>
</p>

<p>
  <strong>Puntuacio iluminacio:</strong>
  <%= @instalacio.puntuacio_iluminacio %>
</p>

<p>
  <strong>Puntuacio electrodomestics:</strong>
  <%= @instalacio.puntuacio_electrodomestics %>
</p>

<%= link_to 'Edit', edit_instalacio_path(@instalacio) %> |
<%= link_to 'Back', instalacions_path %>
