<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @envolupant.edifici_id %>
</p>

<p>
  <strong>Millores facana:</strong>
  <%= @envolupant.millores_facana %>
</p>

<p>
  <strong>Millores coberta:</strong>
  <%= @envolupant.millores_coberta %>
</p>

<p>
  <strong>Tipus finestres:</strong>
  <%= @envolupant.tipus_finestres %>
</p>

<p>
  <strong>Estanquitat finestres:</strong>
  <%= @envolupant.estanquitat_finestres %>
</p>

<p>
  <strong>Descripcio facanes:</strong>
  <%= @envolupant.descripcio_facanes %>
</p>

<p>
  <strong>Descripcio coberta:</strong>
  <%= @envolupant.descripcio_coberta %>
</p>

<p>
  <strong>Descripcio terra:</strong>
  <%= @envolupant.descripcio_terra %>
</p>

<p>
  <strong>Descripcio finestres:</strong>
  <%= @envolupant.descripcio_finestres %>
</p>

<p>
  <strong>Puntuacio facanes:</strong>
  <%= @envolupant.puntuacio_facanes %>
</p>

<p>
  <strong>Puntuacio coberta:</strong>
  <%= @envolupant.puntuacio_coberta %>
</p>

<p>
  <strong>Puntuacio terra:</strong>
  <%= @envolupant.puntuacio_terra %>
</p>

<p>
  <strong>Puntuacio finestres:</strong>
  <%= @envolupant.puntuacio_finestres %>
</p>

<%= link_to 'Edit', edit_envolupant_path(@envolupant) %> |
<%= link_to 'Back', envolupants_path %>
