<div class="light-background-container">
	
	<div class="row">
		<div class="medium-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_document') %>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<div class="light-container">
				<div class="row">
					<div class="medium-4 columns">
						<%= image_tag('document_xml.png', :alt => t('.exportar_operacions'), :class => 'imatge-document') %>
						<%= link_to t('.exportar_operacions'), exporta_xml_path(:edifici_id => @edifici.id, :format => :xml), :class => 'button'  %>
						<p><%= t('.text_generar_xml') %></p>
					</div>
					<div class="medium-4 columns end">
						<%= image_tag('document_test_energetic.png', :alt => t('.genera_test_energetic'), :class => 'imatge-document') %>
						<%= link_to t('.genera_test_energetic'),
						  edifici_download_path(@edifici, format: "pdf"),
						  target: "_blank",
						  class: "button download" %></p>
					</div>
				</div>

					

					<p><%= link_to "Visualitza en HTML",
					  edifici_download_path(@edifici, format: "html"),
					  target: "_blank",
					  class: "download" %></p>
				
			</div>
		</div>
	</div>
</div>



