<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @consum.edifici_id %>
</p>

<p>
  <strong>Energia primaria:</strong>
  <%= @consum.energia_primaria %>
</p>

<p>
  <strong>Emissions:</strong>
  <%= @consum.emissions %>
</p>

<p>
  <strong>Qualificacio energia primaria:</strong>
  <%= @consum.qualificacio_energia_primaria %>
</p>

<p>
  <strong>Qualificacio emissions:</strong>
  <%= @consum.qualificacio_emissions %>
</p>

<p>
  <strong>Potencia contractada:</strong>
  <%= @consum.potencia_contractada %>
</p>

<p>
  <strong>Electricitat consum anual:</strong>
  <%= @consum.electricitat_consum_anual %>
</p>

<p>
  <strong>Electricitat emissions:</strong>
  <%= @consum.electricitat_emissions %>
</p>

<p>
  <strong>Electricitat preu:</strong>
  <%= @consum.electricitat_preu %>
</p>

<p>
  <strong>Electricitat estimacio consum millores:</strong>
  <%= @consum.electricitat_estimacio_consum_millores %>
</p>

<p>
  <strong>Gas consum anual:</strong>
  <%= @consum.gas_consum_anual %>
</p>

<p>
  <strong>Gas emissions:</strong>
  <%= @consum.gas_emissions %>
</p>

<p>
  <strong>Gas preu:</strong>
  <%= @consum.gas_preu %>
</p>

<p>
  <strong>Gas estimacio consum millores:</strong>
  <%= @consum.gas_estimacio_consum_millores %>
</p>

<p>
  <strong>Gasoil consum anual:</strong>
  <%= @consum.gasoil_consum_anual %>
</p>

<p>
  <strong>Gasoil emissions:</strong>
  <%= @consum.gasoil_emissions %>
</p>

<p>
  <strong>Gasoil preu:</strong>
  <%= @consum.gasoil_preu %>
</p>

<p>
  <strong>Gasoil estimacio consum millores:</strong>
  <%= @consum.gasoil_estimacio_consum_millores %>
</p>

<p>
  <strong>Calefaccio font energia:</strong>
  <%= @consum.calefaccio_font_energia %>
</p>

<p>
  <strong>Calefaccio percentatge consum:</strong>
  <%= @consum.calefaccio_percentatge_consum %>
</p>

<p>
  <strong>Calefaccio2 font energia:</strong>
  <%= @consum.calefaccio2_font_energia %>
</p>

<p>
  <strong>Calefaccio2 percentatge consum:</strong>
  <%= @consum.calefaccio2_percentatge_consum %>
</p>

<p>
  <strong>Acs font energia:</strong>
  <%= @consum.acs_font_energia %>
</p>

<p>
  <strong>Acs percentatge consum:</strong>
  <%= @consum.acs_percentatge_consum %>
</p>

<p>
  <strong>Refrigeracio percentatge consum:</strong>
  <%= @consum.refrigeracio_percentatge_consum %>
</p>

<p>
  <strong>Iluminacio percentatge consum:</strong>
  <%= @consum.iluminacio_percentatge_consum %>
</p>

<p>
  <strong>Electrodomestics percentatge consum:</strong>
  <%= @consum.electrodomestics_percentatge_consum %>
</p>

<%= link_to 'Edit', edit_consum_path(@consum) %> |
<%= link_to 'Back', consums_path %>
