<h2><%= t('.titol') %></h2>
<p><%= t('.text1') %></p>

<p><%= t('.text3') %></p>
<p><%= link_to t('.canviar_contrasenya'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.text2') %></p>

