<h4><%= t('.aillament_envolupant') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'aillament_envolupant') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_forats') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_forats') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_calefaccio') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_calefaccio') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_refrigeracio') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_refrigeracio') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_calefaccio_refrigeracio') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_calefaccio_refrigeracio') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_acs') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_acs') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_ventilacio') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_ventilacio') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>
<h4><%= t('.millores_iluminacio') %></h4>
<ul>
	<% propostes = PropostaPredefinida.where(categoria: 'millores_iluminacio') %>
	<% propostes.each do |proposta| %>
		<li>
			<%= link_to add_proposta_predefinida_path(edifici_id: params[:edifici_id], proposta_predefinida_id: proposta.id), remote: true do %>
				<%= proposta.nom_ca %>
			<% end %>
		</li>
	<% end %>
</ul>

